.app-certificates {
  margin-bottom: 2em;

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      display: inline-block;
      margin-bottom: .5em;
      line-height: 1.5;
      font-size: 1.2em;

      &:after {
        content: ',';
        margin-right: .5em;
      }

      &:last-child:after {
        content: ' …Check!';
        color: var(--corporate-color-yellow);
      }
    }
  }
}
