.app-connect {
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      margin-bottom: 1em;
      line-height: 1.5;
      font-size: 1.2em;

      & a:before {
        display: inline-block;
        content: '';
        margin-right: 1em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
      }

      & .app-connect-list-item--github:before {
        background-image: svg("ei#sc-github");
        background-color: var(--corporate-color-orange);
      }

      & .app-connect-list-item--linkedin:before {
        background-image: svg("ei#sc-linkedin");
        background-color: var(--corporate-color-blue);
      }

      & .app-connect-list-item--twitter:before {
        background-image: svg("ei#sc-twitter");
        background-color: var(--corporate-color-cyan);
      }

      & .app-connect-list-item--slack:before {
        background-image: svg("ei#comment");
        background-color: var(--corporate-color-red);
      }
    }
  }
}
