.app-footer {
  display: block;
  padding-top: 2em;

  & a {
    color: var(--corporate-color-blue);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
