.u-build {
  display: inline-block;
  width: 90px;
  height: 20px;
  margin-right: .5em;
  vertical-align: middle;
  background-image: url("https://travis-ci.org/sbstnmsch/sebastian-misch.de.svg?branch=master");
}
