.u-corporate-font-header {
  font-family: Optima, 'Helvetica Neue', sans-serif;
}

.u-corporate-font {
  font-family: Georgia, serif;
}

.u-night {
  & .u-corporate-font {
    font-family: 'Courier New', monospace;
  }
}
