<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1,width=device-width,maximum-scale=1,user-scalable=no">
    <!-- build:css inline -->
    <link rel="stylesheet" href="assets/stylesheets/critical.min.css" />
    <!-- /build -->
    <title>Sebastian Misch — Freelance IT-Consultant &amp; Frontend-Engineer</title>
  </head>
  <body class="u-corporate-background">
    <div class="app u-corporate-text u-corporate-font">

      <header class="app-header">
        <h1 class="app-header-title u-corporate-font-header">Strategy for IT-Projects</h1>
        <h2 class="app-header-subtitle u-corporate-font">
          Sebastian Misch &mdash; Freelance IT-Consultant &amp; Frontend-Engineer
        </h2>
      </header>

      <section class="app-vitae u-section u-3d">
        <h3 class="app-vitae-title u-section-title u-corporate-font-header">Living IT since 1998</h3>
        <ul class="app-vitae-list">
          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2015</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-title">Delivery Lead</span>
            <span class="app-vitae-list-item-company">Deutsche Post E-POST Development GmbH</span>
            <span class="app-vitae-list-item-description">
              Responsible &amp; accountable for product and backlog. Supporting a big team
              to work the agile way. Killing impediments Scrum-Master-style.
              Inter-team management for product evolution and legacy migration.
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2014</span>
            <span class="app-vitae-list-item-to">2015</span>
            <span class="app-vitae-list-item-title">Frontend Engineer</span>
            <span class="app-vitae-list-item-company">Deutsche Post E-POST Development GmbH</span>
            <span class="app-vitae-list-item-description">
              Rebuilding the legacy E-POSTBRIEF-Portal from scratch with modern technologies
              like Angular.js on a new scalable and virtualized infrastructure.
              Register at <a href="https:/portal.epost.de" target="_epost">epost.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2014</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company">Nerds of all Trades</span>
            <span class="app-vitae-list-item-description">
              International network for high-potential frontend developers.
              Connect to a NOAT and apply at <a href="http://nerdsofalltrad.es" target="_noa">nerdsofalltrad.es</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2011</span>
            <span class="app-vitae-list-item-to">2015</span>
            <span class="app-vitae-list-item-title">Founder &amp; CTO</span>
            <span class="app-vitae-list-item-company"><span class="u-reg">boffR</span> GmbH</span>
            <span class="app-vitae-list-item-description">
              Live-Marketing for local events. 2.4 million customers in Germany,
              Netherlands, Switzerland and Austria.
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2013</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company u-reg">edoclet</span>
            <span class="app-vitae-list-item-description">
              The tldr; for news. Try out the beta at <a href="http://edoclet.com" target="_edoclet">edoclet.com</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2012</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company u-reg">nip.to</span>
            <span class="app-vitae-list-item-description">
              nip.to is a free service to share your current location with friends.

Use nip.to with your smartphone or tablet computer. Get your current location and share a special link via eMail, SMS, WhatsApp, iMessage or whatever. Once your friends open that link they are routed via a simple compass app to finally nip to you.

Great for hanging out in the park, festivals, finding the way out of the desert and even lost cars.
              <a href="http://nip.to" target="_nipto">nip.to</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2009</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-title">Freelance Jack of all trades for IT Projects</span>
            <span class="app-vitae-list-item-company">Virvir Consulting Sebastian Misch</span>
            <span class="app-vitae-list-item-description">
              TBD
              <a href="http://sebastian-misch.de" target="_edoclet">virvir.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2006</span>
            <span class="app-vitae-list-item-to">2009</span>
            <span class="app-vitae-list-item-title">Senior Software Engineer</span>
            <span class="app-vitae-list-item-company">adesso AG</span>
            <span class="app-vitae-list-item-description">
              TBD
              <a href="http://adesso.de" target="_adesso">adesso.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2004</span>
            <span class="app-vitae-list-item-to">2006</span>
            <span class="app-vitae-list-item-title">IP Systems Engineer</span>
            <span class="app-vitae-list-item-company">MCI/ Verizon Business</span>
            <span class="app-vitae-list-item-description">
              TBD <a href="http://www.verizon.com" target="_verizon">verizon.com</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2000</span>
            <span class="app-vitae-list-item-to">2004</span>
            <span class="app-vitae-list-item-title">IT Consultant</span>
            <span class="app-vitae-list-item-company">DIS Informationssysteme GmbH</span>
            <span class="app-vitae-list-item-description">
              TBD <a href="http://www.dis.de" target="_dis">dis.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">1998</span>
            <span class="app-vitae-list-item-to">2000</span>
            <span class="app-vitae-list-item-title">Frontend Engineer</span>
            <span class="app-vitae-list-item-company">Creative Web Publishing GbR</span>
            <span class="app-vitae-list-item-description">
              TBD
            </span>
          </li>
        </ul>
      </section>

      <section class="u-section">
        <h3 class="u-section-title u-corporate-font-header">Xtreme Performance Addiction</h3>
      </section>

      <section class="app-technologies u-section">
        <h3 class="u-section-title u-corporate-font-header">Key Technologies</h3>
        <p>
          Though i am kind of full-stack due to my long-time experience in IT projects i specialized on
          <i>IT Consulting &amp; Agile Leadership and some fine aspects of modern IT</i>:
        </p>
        <p>
          SEO, UX, Frontend Engineering &amp; Extreme Performance Optimization.
        </p>
        <p>
          Some technologies i prefer are HTML5, Angular.js, React.js, Mustache, Javascript, ES6, Node.js, IO.js, NPM, Grunt, Gulp, Webpack, Browserify, Tape, Karma, Mocha, Phantom.js, Selenium, Browserstack, Travis-ci, Teamcity, Postcss,
          Stylus, Less &amp; Sass, Yeoman, Markdown, Atom.io, Slack, HipChat, Vagrant, Ansible, Docker, Firebase, MongoDB, CouchDB, Redis, NginX, Digital Ocean, Chrome Canary &amp; ... Github.
        </p>
        <p>
          And yes &mdash; i still remember the good old days on Solaris, Oracle, IBM DB2, UML, Apache, JBoss, Tomcat, J2EE, Hibernate, Spring, JQuery/ Scriptaculous, Jira/ Confluence &amp; BIND6.
        </p>
      </section>

      <section class="app-certificates u-section">
        <h3 class="u-section-title u-corporate-font-header">Certified</h3>
        <ul class="app-certificates-list">
          <li class="app-certificates-list-item">Diploma Information Technology &amp; business administration | University of Applied Sciences Dortmund/ Cologne</li>
          <li class="app-certificates-list-item">Master of Arts (M.A.), Computational Linguistics and Artificial Intelligence | University of Osnabrück</li>
          <li class="app-certificates-list-item">Internet Security</li>
          <li class="app-certificates-list-item">Agile Leadership</li>
          <li class="app-certificates-list-item">Dev-Ops</li>
          <li class="app-certificates-list-item">Compliance</li>
          <li class="app-certificates-list-item">Rethorics</li>
          <li class="app-certificates-list-item">Adobe Photoshop</li>
          <li class="app-certificates-list-item">De-escalation</li>
          <li class="app-certificates-list-item">Motivation</li>
          <li class="app-certificates-list-item">Rapid prototyping</li>
          <li class="app-certificates-list-item">Agile Methods</li>
          <li class="app-certificates-list-item">Prince 2</li>
          <li class="app-certificates-list-item">Moderation</li>
          <li class="app-certificates-list-item">Presentation</li>
          <li class="app-certificates-list-item">Project Management</li>
          <li class="app-certificates-list-item">JSF - Java Server Faces &amp; AJAX</li>
          <li class="app-certificates-list-item">Security Awareness</li>
          <li class="app-certificates-list-item">FCPA Compliance</li>
          <li class="app-certificates-list-item">Sarbanes &amp; Oxley (SOX) Compliance</li>
          <li class="app-certificates-list-item">Corporate Governance &amp; Ethics</li>
        </ul>
      </section>

      <section class="app-talks u-section">
        <h3 class="u-section-title u-corporate-font-header">Speaker</h3>
        <ul class="app-talks-list">
          <li class="app-talks-list-item">Geek frontend technologies | E-POST</li>
          <li class="app-talks-list-item">Fun retrospectives | @gile</li>
          <li class="app-talks-list-item">Technologies for rapid prototyping startups | betahaus</li>
          <li class="app-talks-list-item">2 Million users in 3 months | Payment Wall</li>
          <li class="app-talks-list-item">German for foreign entrepreneurs (or why german business angels suck at speaking english) | Startup Bootcamp</li>
          <li class="app-talks-list-item">Lean Startup | Pitchfreunde</li>
          <li class="app-talks-list-item">Nifty CSS | Startup Bootcamp</li>
        </ul>
      </section>

      <section class="app-connect u-section">
        <h3 class="u-section-title u-corporate-font-header">Connect</h3>
        <ul class="app-connect-list">
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--github" href="https://github.com/sbstnmsch" target="_github">github/ sbstnmsch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--linkedin" href="https://de.linkedin.com/in/sebastian-misch-58aa2a57" target="_linkedin">linkedin/ sebastian-misch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--twitter" href="https://twitter.com/sebastianmisch" target="_twitter">twitter/ sebastianmisch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--slack" href="https://slack.com" target="_twitter">slack/ sebastianmisch</a>
          </li>
        </ul>
      </section>

      <footer class="app-footer">
        Sebastian Misch | Berlin &lt;sebastianmisch @ slack&gt;
      </footer>

    </div>
    <!-- build:js inline -->
    <script src="assets/javascripts/app.loader.min.js" defer />
    <!-- /build -->
  </body>
</html>
