<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1,width=device-width,maximum-scale=1,user-scalable=no">
    <!-- build:css inline -->
    <link rel="stylesheet" href="assets/stylesheets/critical.min.css" />
    <!-- /build -->
    <link href='https://nip.to' rel='preconnect' crossorigin />
    <link href='https://edoclet.com' rel='preconnect' crossorigin />
    <link href='https://nerdsofalltrad.es' rel='preconnect' crossorigin />
    <!-- build:template
    <link rel="icon" href="<%= cdn %>/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= cdn %>/favicon.ico" type="image/x-icon" />
    /build -->
    <title>Sebastian Misch — Freelance IT-Consultant &amp; Frontend-Engineer | Berlin</title>
  </head>
  <body class="u-corporate-background">
    <div class="app u-corporate-text u-corporate-font">

      <header class="app-header">
        <h1 class="app-header-title u-corporate-font">Strategy for IT-Projects</h1>
        <h2 class="app-header-subtitle u-corporate-font-header">
          Sebastian Misch <br /> Freelance IT-Consultant &amp; Frontend-Engineer
        </h2>
      </header>

      <section class="app-vitae u-section u-3d">
        <h3 class="app-vitae-title u-section-title u-corporate-font-header">Living IT since 1998</h3>
        <ul class="app-vitae-list">
          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2016</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--immobilienscout24-frontend"></span>
            <span class="app-vitae-list-item-title">Senior Frontend-Engineer</span>
            <span class="app-vitae-list-item-company">Immobilien Scout24 GmbH</span>
            <span class="app-vitae-list-item-description">
              Frontend-Engineer responsible for know-how- and experience-building
              of edge frontend-technologies.
              Visit <a class="u-external-link" href="http://www.immobilienscout24.de" target="is24">immobilienscout24.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2015</span>
            <span class="app-vitae-list-item-to">2016</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--epost-delivery-lead"></span>
            <span class="app-vitae-list-item-title">Delivery Lead</span>
            <span class="app-vitae-list-item-company">Deutsche Post E-POST Development GmbH</span>
            <span class="app-vitae-list-item-description">
              Team Lead responsible &amp; accountable for <span class="u-corporate-color-orange">product</span>
              and <span class="u-corporate-color-orange">backlog</span>. Supporting a big team
              to work the <span class="u-corporate-color-orange">agile</span> way. Killing impediments
              <span class="u-corporate-color-orange">Scrum-Master</span>-style.
              Inter-team management for product evolution and
              <span class="u-corporate-color-orange">legacy migration</span>.
              Visit <a class="u-external-link" href="https://www.epost.de" target="epost">epost.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2014</span>
            <span class="app-vitae-list-item-to">2015</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--epost-frontend-0 "></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--epost-frontend-1 "></span>
            <span class="app-vitae-list-item-title">Frontend Engineer</span>
            <span class="app-vitae-list-item-company">Deutsche Post E-POST Development GmbH</span>
            <span class="app-vitae-list-item-description">
              Rebuilding the legacy E-POSTBRIEF-Portal from scratch with modern technologies
              like <span class="u-corporate-color-orange">Angular.js</span> on a scalable and
              <span class="u-corporate-color-orange">virtualized infrastructure</span>.
              Register at <a class="u-external-link" href="https://portal.epost.de" target="epost">portal.epost.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2014</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--nerdsofalltrades"></span>
            <span class="app-vitae-list-item-title">Initiator</span>
            <span class="app-vitae-list-item-company">Nerds of all Trades Organization</span>
            <span class="app-vitae-list-item-description">
              International network for
              <span class="u-corporate-color-orange">high-potential frontend developers</span>.
              Connect to a NOAT and apply at <a class="u-external-link" href="https://nerdsofalltrad.es" target="noat">nerdsofalltrad.es</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2011</span>
            <span class="app-vitae-list-item-to">2015</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--boffr"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company"><span class="u-reg">boffR</span> GmbH</span>
            <span class="app-vitae-list-item-description">
              Local event promotion and search engine &mdash; the social way.
              <span class="u-corporate-color-orange">2.4 million subscribed users</span> in Germany,
              Netherlands, Switzerland and Austria
              <a class="u-external-link" href="https://www.youtube.com/watch?v=BiTp0dOyv9U" target="boffr">Alex TV</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2013</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--edoclet"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company u-reg">edoclet</span>
            <span class="app-vitae-list-item-description">
              The tldr; for news. edoclet generates one-sentence-abstracts from several sources of news
              for a sneak preview of <span class="u-corporate-color-orange">what is trending</span>.
              Try out the proof of concept at <a class="u-external-link" href="http://edoclet.com" target="edoclet">edoclet.com</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2012</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--nipto-0"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--nipto-1"></span>
            <span class="app-vitae-list-item-title">Founder</span>
            <span class="app-vitae-list-item-company u-reg">nip.to</span>
            <span class="app-vitae-list-item-description">
              nip.to is a free service to <span class="u-corporate-color-orange">share your current location with friends</span>.
              Use nip.to with your smartphone or tablet computer. Get your current location and share a special link via E-Mail, SMS, WhatsApp, iMessage or whatever. Once your friends open that link they are routed via a simple compass app to finally nip to you.
              Great for hanging out in the park, festivals, finding the way out of the desert and even lost cars.
              Try <a class="u-external-link" href="http://nip.to" target="nipto">nip.to</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2009</span>
            <span class="app-vitae-list-item-to"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--freelance"></span>
            <span class="app-vitae-list-item-title">Freelance Jack of all trades for IT Projects</span>
            <span class="app-vitae-list-item-company">Virvir Consulting Sebastian Misch</span>
            <span class="app-vitae-list-item-description">
              Consulting and Software Engineering projects at
              <span class="u-corporate-color-cyan">Deutsche Telekom AG</span>,
              <span class="u-corporate-color-cyan">Tazaldoo GmbH</span>,
              <span class="u-corporate-color-cyan">IBB Investitionsbank Berlin</span>,
              <span class="u-corporate-color-cyan">Daily Deal GmbH</span>,
              <span class="u-corporate-color-cyan">Neutrinity GmbH</span>,
              <span class="u-corporate-color-cyan">Media.net BerlinBrandenburg</span>,
              <span class="u-corporate-color-cyan">KLab Educmedia GmbH</span>,
              <span class="u-corporate-color-cyan">MindQ GbR</span>
              Visit <a class="u-external-link" href="https://sebastian-misch.de" target="virvir">virvir.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2006</span>
            <span class="app-vitae-list-item-to">2009</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--adesso-0"></span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--adesso-1"></span>
            <span class="app-vitae-list-item-title">Senior Software Engineer</span>
            <span class="app-vitae-list-item-company">adesso AG</span>
            <span class="app-vitae-list-item-description">
              Project Management, Consulting, Coaching and Software Engineering projects at
              <span class="u-corporate-color-cyan">Bitmarck Holding GmbH</span>,
              <span class="u-corporate-color-cyan">DAK Gesundheit</span>,
              <span class="u-corporate-color-cyan">Blitzstrom GmbH</span>,
              <span class="u-corporate-color-cyan">HEK - Hanseatische Krankenkasse</span>,
              <span class="u-corporate-color-cyan">Belectric Trading GmbH</span>,
              <span class="u-corporate-color-cyan">Zurich Winterthur</span>
              Visit <a class="u-external-link" href="http://adesso.de" target="adesso">adesso.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2004</span>
            <span class="app-vitae-list-item-to">2006</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--verizon"></span>
            <span class="app-vitae-list-item-title">IP Systems Engineer</span>
            <span class="app-vitae-list-item-company">MCI/ Verizon Business</span>
            <span class="app-vitae-list-item-description">
              Development of customer billing portal <span class="u-corporate-color-orange">OnlineManager II</span> from frontend
              to backend down to <span class="u-corporate-color-orange">SIP protocol</span> and auto-provisioning <span class="u-corporate-color-orange">Cisco routers</span>.
              Visit <a class="u-external-link" href="http://www.verizon.com" target="verizon">verizon.com</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">2000</span>
            <span class="app-vitae-list-item-to">2004</span>
            <span class="app-vitae-list-item-media app-vitae-list-item-media--dis"></span>
            <span class="app-vitae-list-item-title">IT Consultant</span>
            <span class="app-vitae-list-item-company">DIS Informationssysteme GmbH</span>
            <span class="app-vitae-list-item-description">
              Software Engineering &amp; Coaching projects at
              <span class="u-corporate-color-cyan">ARCOR AG &amp; Co. KG</span>,
              <span class="u-corporate-color-cyan">Caterpillar INC.</span>,
              <span class="u-corporate-color-cyan">O2 Germany GmbH</span>,
              <span class="u-corporate-color-cyan">PSI AG</span>,
              <span class="u-corporate-color-cyan">E-Plus Mobilfunk GmbH &amp; Co. KG</span>,
              <span class="u-corporate-color-cyan">Vodafone GmbH</span>,
              <span class="u-corporate-color-cyan">Skogforsk Sweden</span>
              Visit <a class="u-external-link" href="http://www.dis.de" target="dis">dis.de</a>
            </span>
          </li>

          <li class="app-vitae-list-item">
            <span class="app-vitae-list-item-from">1998</span>
            <span class="app-vitae-list-item-to">2000</span>
            <span class="app-vitae-list-item-title">Frontend Engineer</span>
            <span class="app-vitae-list-item-company">Creative Web Publishing GbR</span>
            <span class="app-vitae-list-item-description">
              Creating websites that were optimized for Netscape Navigator at
              <span class="u-corporate-color-orange">800x600</span> resolution and
              <span class="u-corporate-color-orange">256 colors</span>, sigh.
            </span>
          </li>
        </ul>
      </section>

      <section class="app-technologies u-section">
        <h3 class="u-section-title u-corporate-font-header">Key Technologies</h3>
        <p>
          Though I am kind of full-stack due to my long-time work experience in IT projects I specialized on
          <i>IT Consulting &amp; Agile Leadership and some fine aspects of modern IT</i>:
        </p>
        <p class="u-corporate-color-green">
          SEO, UX, Frontend Engineering &amp; Extreme Performance Optimization
        </p>
        <p>
          Some technologies I prefer are HTML5, <span class="u-corporate-color-orange">Angular.js</span>, React.js, Mustache, Javascript, <span class="u-corporate-color-orange">ES6</span>, <span class="u-corporate-color-orange">Node.js</span>, IO.js, NPM, Grunt, Gulp, <span class="u-corporate-color-orange">Webpack</span>, Browserify, Tape, <span class="u-corporate-color-orange">Karma</span>, Mocha, Phantom.js, Selenium, Browserstack, <span class="u-corporate-color-orange">Travis-ci</span>, Teamcity, Greenkeeper.io, <span class="u-corporate-color-orange">Postcss</span>,
          <span class="u-corporate-color-orange">Stylus</span>, Less &amp; Sass, Yeoman, Markdown, Atom.io, <span class="u-corporate-color-orange">Slack</span>, HipChat, Vagrant, Ansible, Docker, <span class="u-corporate-color-orange">Firebase</span>, MongoDB, CouchDB, Redis, StackOverflow, <span class="u-corporate-color-orange">NginX</span>, Digital Ocean, Mailchimp, Zapier, Twilio, Trello, Chrome Canary &amp; ... <span class="u-corporate-color-orange">Github</span>.
        </p>
        <p>
          And yes &mdash; vintage &mdash; I still remember the good old days fiddling with Solaris, Oracle, IBM DB2, UML &amp; Model-driven Architecture, SED/ AWK, Perl, SH, Apache, Sendmail, ISO-8859-1, Java Applets, JBoss, Tomcat, J2EE, Grails, Groovy, Hibernate, AWT/ Spring, JQuery/ Scriptaculous, Jira/ Confluence &amp; BIND6.
        </p>
      </section>

      <section class="app-performance u-section">
        <h3 class="u-section-title u-corporate-font-header">Performance matters</h3>
        <p>
          I love love love <span class="u-corporate-color-orange">performance optimization</span>.
          My rule of thumb is a Pagespeed Rank of 100%
          and page-loading times far beyond 80ms &mdash; no matter what network users are on.
        </p>
        <p>
          Challenge accepted.
        </p>
        <div class="app-performance-load app-performance-bubble">
          <span class="app-performance-bubble-value">14</span>
        </div>
        <div class="app-performance-dom app-performance-bubble">
          <span class="app-performance-bubble-value">8</span>
        </div>
        <p>
          Beyond the usual best practices of optimization and minification I love to tune the
          architecture to be <span class="u-corporate-color-orange">scalable and high-available</span>
          &mdash; to make users yell: Whut?!? snappy...
        </p>
      </section>

      <section class="app-certificates u-section">
        <h3 class="u-section-title u-corporate-font-header">Certified</h3>
        <ul class="app-certificates-list">
          <li class="app-certificates-list-item">Diploma Information Technology &amp; business administration <span class="u-corporate-color-purple">University of Applied Sciences Dortmund/ Cologne</span></li>
          <li class="app-certificates-list-item">Master of Arts (M.A.), Computational Linguistics and Artificial Intelligence <span class="u-corporate-color-purple">University of Osnabrück</span></li>
          <li class="app-certificates-list-item">Internet Security</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Agile Leadership</li>
          <li class="app-certificates-list-item">Compliance</li>
          <li class="app-certificates-list-item">Rethorics</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Dev-Ops</li>
          <li class="app-certificates-list-item">De-escalation</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Adobe Photoshop</li>
          <li class="app-certificates-list-item">Motivation</li>
          <li class="app-certificates-list-item">Rapid prototyping</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Agile Methods</li>
          <li class="app-certificates-list-item">Moderation</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Prince 2</li>
          <li class="app-certificates-list-item">Presentation</li>
          <li class="app-certificates-list-item">JSF - Java Server Faces &amp; AJAX</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Project Management</li>
          <li class="app-certificates-list-item">Security Awareness</li>
          <li class="app-certificates-list-item">FCPA Compliance</li>
          <li class="app-certificates-list-item u-corporate-color-orange">Sarbanes &amp; Oxley (SOX) Compliance</li>
          <li class="app-certificates-list-item">Corporate Governance &amp; Ethics</li>
        </ul>
      </section>

      <section class="app-talks u-section">
        <h3 class="u-section-title u-corporate-font-header">Speaker</h3>
        <ul class="app-talks-list">
          <li class="app-talks-list-item">ES6 syntactic sugar you should be using today <a href="http://slides.com/sbstnmsch/es6-syntactic-sugar-you-should-be-using-today" class="u-external-link" target="slides">slides</a> <span class="u-corporate-color-purple">Immobilienscout24</span></li>
          <li class="app-talks-list-item">Geek frontend technologies <span class="u-corporate-color-purple">E-POST</span></li>
          <li class="app-talks-list-item">Freemium business models <span class="u-corporate-color-purple">Alex TV</span></li>
          <li class="app-talks-list-item">Fun retrospectives <span class="u-corporate-color-purple">@gile nite</span></li>
          <li class="app-talks-list-item">Technologies for rapid prototyping startups <span class="u-corporate-color-purple">betahaus</span></li>
          <li class="app-talks-list-item">Low budget architectures <span class="u-corporate-color-purple">Payment Wall</span></li>
          <li class="app-talks-list-item">Why website-performance will boost your business <span class="u-corporate-color-purple">hub:raum</span></li>
          <li class="app-talks-list-item">2 Million users in 3 months <span class="u-corporate-color-purple">Pitchfreunde</span></li>
          <li class="app-talks-list-item">Mastering CSS Animations like a boss <span class="u-corporate-color-purple">Startup Bootcamp</span></li>
        </ul>
      </section>

      <section class="app-connect u-section">
        <h3 class="u-section-title u-corporate-font-header">Connect</h3>
        <ul class="app-connect-list">
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--github" href="https://github.com/sbstnmsch" target="github">github/ sbstnmsch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--linkedin" href="https://de.linkedin.com/in/sebastian-misch-58aa2a57" target="linkedin">linkedin/ sebastian-misch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--twitter" href="https://twitter.com/sebastianmisch" target="twitter">twitter/ sebastianmisch</a>
          </li>
          <li class="app-connect-list-item">
            <a class="app-connect-list-item--slack" href="https://slack.com" target="slack">slack/ sebastianmisch</a>
          </li>
        </ul>
      </section>

      <footer class="app-footer">
        <p>
          Sebastian Misch | Berlin &lt;sebastianmisch @ slack&gt;
        </p>
        <p>
          <div class="u-build"></div>
          Fork this <a class="u-external-link" href="https://github.com/sbstnmsch/sebastian-misch.de" target="gh_clone">github.com/sbstnmsch/sebastian-misch.de.git</a>
        </p>
      </footer>

    </div>
    <!-- build:template
    <script>window.cdn = `<%= cdn %>`;</script>
    /build -->
    <!-- build:js inline -->
    <script src="assets/javascripts/app.loader.min.js" defer />
    <!-- /build -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Sebastian Misch",
      "description": "Freelance IT-Consultant & Frontend-Engineer",
      "logo": "https://lh5.googleusercontent.com/-f6XP8giz2ac/AAAAAAAAAAI/AAAAAAAAAB0/pKgwiijlJI8/photo.jpg",
      "url" : "http://sebastian-misch.de",
      "sameAs" : [
        "https://de.linkedin.com/in/sebastian-misch-58aa2a57",
        "https://twitter.com/sebastianmisch",
        "https://github.com/sbstnmsch"
      ]
    }
    </script>
  </body>
</html>
