.app-vitae-list-item-media--nipto-0 {
  background-image: inline('images/nipto-compass.png');
}

.app-vitae-list-item-media--nipto-1 {
  background-image: inline('images/nipto-share.png');
  transition-delay: .2s;
}

.app-vitae-list-item--preview {
  & .app-vitae-list-item-media--nipto-1 {
    left: 16em;
  }
}
