@import 'responsive';

.vitae {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  position: relative;

  li {
    width: calc(50% - 30px);
    padding: 10px 30px 0;
    color: rgba(255, 255, 255, .7);
    transition: all 0.2s;
    animation: animation--vitae-new 0.2s 1s forwards;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;

    img {
      position: absolute;
      margin-top: 44px;
      width: calc(50% - 40px);
      filter: saturate(0);
      opacity: .8;
      transition: all .4s;
    }

    &:nth-child(odd) {
      border-right: solid 2px rgba(255, 255, 255, .2);
      padding-left: 0;
      text-align: right;
      direction: rtl;

      &:before {
        right: calc(50% - 8px);
        animation: animation--vitae-new-odd 0.5s ease-out;
      }

      img {
        transform: translateX(calc(100% + 60px));
      }
    }

    &:nth-child(even) {
      border-left: solid 2px rgba(255, 255, 255, .2);
      padding-right: 0;
      margin-left: 50%;

      &:before {
        right: calc(50% - 8px);
        animation: animation--vitae-new-even 0.5s ease-out;
      }

      img {
        transform: translateX(calc(-1 * (100% + 60px)));
      }
    }

    &:first-of-type {
      padding-top: 30px;
      animation: none;
    }
    &:last-of-type {
      padding-bottom: 30px;
    }

    &:before {
      transition: transform 0.2s ease-out;
      font-size: 12px;

      content: '━';
      text-indent: 12px;
      white-space: nowrap;
      overflow: visible;
      margin-top: 7px;
      width: 10px;
      height: 10px;
      line-height: 10px;
      background-color: #38e;
      border: solid rgba(255,255,255,.2) 2px;
      border-radius: 50%;
      position: absolute;
      vertical-align: top;
      color: rgba(255,255,255,.2);

    }

    &:after {
      content: attr(data-after);
      color: rgba(255, 255, 255, .6);
      display: block;
      font-size: 12px;
      direction: ltr;
    }

    &:hover {
      color: #eee;
      padding-top: 2px;
      padding-bottom: 30px;

      &:before {
        transform: scale(1.4) rotate(-10deg);
      }

      img {
        filter: saturate(1);
        opacity: .9;
      }
    }

    &.vitae--header {
      border-top: dashed 1px rgba(255, 255, 255, .2);
      color: #eee;

      &:first-child {
        border-top: none;
      }

      &:before {
        display: none;
      }

      &:hover {
        transform: none;
        padding-top: 0;
        padding-bottom: 0;

        &:before {
          transform: none;
        }
      }
    }
  }

  @media screen and (max-width: $break-small) {
    padding: 0 10px;

    li {
      font-size: 12px;
      line-height: 18px;

      &:before {
        margin-top: 2px;
      }

      img {
        margin-top: 30px;
        max-width: 180px;
      }
    }
  }
}

@keyframes animation--vitae-new {
  0% {
    padding-top: 10px;
  }

  100% {
    padding-top: 0;
  }
}

@keyframes animation--vitae-new-odd {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animation--vitae-new-even {
  0% {
    transform: translateX(+10px);
  }

  100% {
    transform: translateX(0);
  }
}

.vitae {
  .role {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .company {
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.6);
    color: #38e;
  }
}
