.u-section {
  display: block;
  margin-bottom: 2em;

  &-title {
    font-family: CorporateHeader, sans-serif;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
  }

  & p {
    line-height: 1.5;
    font-size: 1.2em;
  }

  & i {
    color: var(--corporate-color-orange);
  }

  & sup {
    font-size: .5em;
  }

  & a {
    color: var(--corporate-color-blue);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
